
<h1>Art Tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_tags.each do |art_tag| %>
      <tr>
        <td><%= art_tag.name %></td>
        <td><%= link_to 'Show', art_tag %></td>
        <td><%= link_to 'Edit', edit_art_tag_path(art_tag) %></td>
        <td><%= link_to 'Destroy', art_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art Tag', new_art_tag_path %>
