<div class="container full-screen">
  <div class="row row-users">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"form-type-costum well-users" }) do |f| %>
          <h1>Editer mon profil</h1>

          <div class="form-frame">
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class:"form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
              <% if @minimum_password_length %>
                <em class="form-annotation"><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
            </div>

            <%= f.text_field :firstname, class: "form-control", placeholder: "Prénom" %>
            <%= f.text_field :lastname, class: "form-control", placeholder: "Nom" %>

            <%= f.text_field :adress, class: "form-control", placeholder: "Adresse" %>
            <%= f.text_field :city, class: "form-control", placeholder: "Ville" %>
            <%= f.number_field :postal, class: "form-control", placeholder: "Code postal" %>

            <%= f.text_field :phone, class: "form-control", placeholder: "Téléphone" %>

            <div class="form-group">
              <label for="all_tags">Vos tags :</label>
              <%= f.text_field :all_tags, class:"form-control" %>
              <em class="form-annotation">Séparer les tags par des virgules</em>
            </div>
          </div>

          <div class="form-action-container">
            <%= link_to "Back", :back, class:"form-action" %>
            <%= f.submit "Update", class: "form-action main-action" %>
          </div>
          <hr>
          <div class="form-action-container">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "form-action force-border" %>
          </div>
        <% end %>



    </div>
  </div>
</div>
