<div class="container">
  <div class="row row-users">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"form-type-costum form-type-costum-no-padding well-users" }) do |f| %>
          <h1>Editer mon profil</h1>

          <div class="form-frame">
            <%= devise_error_messages! %>
            <%= f.text_field :firstname, class: "form-control", placeholder: "Prénom" %>
            <%= f.text_field :lastname, class: "form-control", placeholder: "Nom" %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class:"form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
              <% if @minimum_password_length %>
                <em class="form-annotation"><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
              <div class="form-group">
                <%= f.label :avatar %>
                <%= form.file_field :avatar %>
              </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
            </div>

          <div class="form-action-container">
            <%= link_to "Back", :back, class:"form-action" %>
            <%= f.submit "Update", class: "form-action main-action" %>
          </div>
          <hr>
        <% end %>
        <div class="cancel">
          <div class="form-action-container">
            <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sur ?" }, method: :delete, class: "form-action force-border" %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
