<div class="container full-screen">
  <div class="row row-users">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <%= form_for(resource, :as => resource_name, :html => {class:"form-type-costum well-users"}, :url => session_path(resource_name)) do |f| %>          <%= devise_error_messages! %>
          <h1>Inscription</h1>
          <div class="form-frame">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
            <% if @minimum_password_length %>
              <em class="form-annotation">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "mot de passe"%>

            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "confirmation de mot de passe" %>

          </div>
          <div class="form-action-container">
            <%= render "devise/shared/links" %>
            <%= f.submit "S'inscrire", class: "form-action main-action" %>
          </div>

        <% end %>
    </div>
  </div>
</div>
