<div class="container">
  <div class="row row-users">
    <div class="col-sm-6 col-sm-offset-3">
        <%= form_for(resource, :as => resource_name, :html => {class:"form-type-costum well-users"}, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <% if @status %>
            <% if @status == "professional" || @status == "particular"  %>
              <h1>Devenir exposant</h1>
            <% else %>
              <h1>Devenir artiste</h1>
            <% end %>
          <% else %>
            <h1>Inscription</h1>
          <% end %>

          <div class="form-frame">
            <!-- <div class="multiple-action">
            </div> -->
            <% if @status %>
              <%= f.hidden_field :main_status, value: @status  %>
            <% end %>

            <div class="pretty-form-group">
                <%= f.text_field :firstname, autocomplete:"off", autofocus: true %>
                <%= f.label :firstname %>
            </div>

            <div class="pretty-form-group">
                <%= f.text_field :lastname, autocomplete:"off" %>
                <%= f.label :lastname %>
            </div>

            <div class="pretty-form-group">
                <%= f.text_field :email, autocomplete:"off" %>
                <%= f.label :email %>
            </div>

            <div class="pretty-form-group">
                <%= f.password_field :password, autocomplete:"off", autofocus: true %>
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em class="form-annotation">(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
            </div>

            <div class="pretty-form-group">
                <%= f.password_field :password_confirmation, autocomplete:"off", autofocus: true %>
                <%= f.label :password_confirmation %>
            </div>
          </div>

          <div class="form-action-container">
            <%= f.submit "S'inscrire", class: "btn btn-dark" %>
          </div>
          <div class="form-action-container">
             <%= render "devise/shared/links" %>
        </div>

        <% end %>
    </div>
  </div>
</div>
