

<div class="container full-screen">
    <div class="row row-users">
        <div class="col-sm-8 col-sm-offset-2">
            <%= form_for(exhibition, html: { class:"form-type-costum well-users" }) do |f| %>
            <% if exhibition.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(exhibition.errors.count, "error") %>
                    prohibited this exhibition from being saved:</h2>

                <ul>
                    <% exhibition.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <h1><%= @formTitle %></h1>
            <div class="form-frame">

                <div class="pretty-form-group">
                    <%= f.text_field :name %>
                    <%= f.label :name %>
                </div>

                <div class="pretty-form-group" data-type="textarea">
                    <%= f.text_area :description, rows:1 %>
                    <%= f.label :description %>
                </div>

                <div class="form-group">
                    <%= f.label :opening_at %>
                    <%= f.datetime_select :opening_at %>
                </div>

                <div class="form-group">
                    <%= f.label :closing_at %>
                    <%= f.datetime_select :closing_at %>
                </div>

                <div class="form-group">
                  <% if @places %>
                  <% cities_array = @places.all.map { |place| [place.name, place.id] } %>
                  <%= f.label :place_id, value:"Sélectionner le lieu de l'évenement dans la liste" %>
                  <%= select_tag(:place_id, options_for_select(cities_array), class:"form-control") %>
                  <% end %>
                </div>

                <!-- <div class="pretty-form-group">
                    <%= f.label :artists_max %>
                    <%= f.text_field :artists_max, class: "form-control" %>
                </div>

                <div class="pretty-form-group">
                    <%= f.label :area_left %>
                    <%= f.text_field :area_left, class: "form-control" %>
                </div>

                <div class="pretty-form-group">
                    <%= f.label :area_max %>
                    <%= f.text_field :area_max, class: "form-control" %>
                </div> -->

                <%= f.hidden_field :place_id %>

                <!-- <div class="pretty-form-group">
                    <%= f.label :price_per_day_per_area %>
                    <%= f.text_field :price_per_day_per_area, class: "form-control" %>
                </div> -->

                <div id="art_tag_manage">
                  <div class="form-group">
                    <label for="">Liste des thèmes de l'évenement</label>
                    <div class="art_tag_form">
                        <input type="text" id="add_tag_text" class="form-control">
                        <input type="button" id="add_tag_submit" value="add">
                    </div>
                    <div class="art_tags_container" data-prototype="<div class='art_tag' data-name='__name__'><span class='art_tag_name'>__name__</span><span class='art_tag_delete'><i class='fa fa-trash-o' aria-hidden='true'></i></span></div>">
                        <%  exhibition.art_tags.each do |t| %>
                        <div class="art_tag" data-name="<%= t.name %>">
                            <span class="art_tag_name"><%= t.name %></span>
                            <span class="art_tag_delete">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <% end %>
                    </div>
                  </div>

                </div>
                <%= f.hidden_field :all_tags, id: "tag-field", placeholder: "Vos tags" %>

            </div>

            <div class="form-action-container">
                <%= link_to "Retour", :back, class:"btn btn-light" %>
                <% if controller.action_name == "edit" %>
                <%= link_to 'Voir', exhibition, class:"btn btn-light" %>
                <% end %>
                <%= f.submit "Valider", class: "btn btn-dark" %>
            </div>
            <% end %>
        </div>
    </div>
</div>
