<p id="notice"><%= notice %></p>

<h1>Exhibitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Opening at</th>
      <th>Closing at</th>
      <th>Artists max</th>
      <th>Area left</th>
      <th>Area max</th>
      <th>Price per day per area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exhibitions.each do |exhibition| %>
      <tr>
        <td><%= exhibition.name %></td>
        <td><%= exhibition.description %></td>
        <td><%= exhibition.opening_at %></td>
        <td><%= exhibition.closing_at %></td>
        <td><%= exhibition.artists_max %></td>
        <td><%= exhibition.area_left %></td>
        <td><%= exhibition.area_max %></td>
        <td><%= exhibition.price_per_day_per_area %></td>
        <td><%= link_to 'Show', exhibition %></td>
        <td><%= link_to 'Edit', edit_exhibition_path(exhibition) %></td>
        <td><%= link_to 'Destroy', exhibition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exhibition', new_exhibition_path %>
