<p id="notice"><%= notice %></p>

<section id="expo-description">
  <div class="row">
    <div class="left-panel col-md-6">
      <% if @place.image_places.first %>
      <%= image_tag @place.image_places.first.file.url %>
      <% end %>
    </div>

    <div class="right-panel col-md-6">
      <p class='title'> <%= @exhibition.name %> </p>
      <%= link_to @place do%><p class='adress'><span><%= @place.address %> <%= @place.zipcode %> <%= @place.city %></span></p><% end %>
      <p class="art_tags_list"><%= @exhibition.opening_at %></p>
      <p class="description">
        Circa hos dies Lollianus primae lanuginis
        adulescens, Lampadi filius ex praefecto,
        exploratius causam Maximino spectante,
        convictus codicem noxiarum artium nondum
        per aetatem firmato consilio descripsisse,
        exulque mittendus, ut sperabatur, patris
        inpulsu provocavit ad principem, et iussus
        ad eius comitatum duci, de fumo, ut aiunt, in
        flammam traditus Phalangio Baeticae
        consulari cecidit funesti carnificis manu.
      </p>
      <div class="btns">
        <% if user_signed_in? %>
        <%= link_to 'Visiter', exhibitions_path, class: "grid-add" %>
        <% end %>
        <% if user_signed_in? && current_user.has_status?("artist") %>
        <% if Participation.find_by(user: current_user, exhibition: @exhibition) %>
          <%= link_to 'Ne plus participer', Participation.find_by(user: current_user, exhibition: @exhibition), method: :delete,  class: "grid-add" %>
        <% else %>
          <%= link_to 'Participer', add_participation_path(@exhibition), class: "grid-add" %>
        <% end %>
        <%= link_to 'Contacter', exhibitions_path, class: "grid-add" %>
        <% end %>
        <br>
        <div class="btn-action">
          <% if current_user && @exhibition.place.user.id == current_user.id %>
          <%= link_to 'Edit', edit_exhibition_path(@exhibition), class:"form-action" %>
          <%= link_to 'Back', exhibitions_path,class:"form-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
