        <%= form_for @user, :url => {:controller => "profile", :action => "update_profile"}, html: { method: :post, class:"form-type-costum" } do |f| %>
        <h2>Editer mon profil</h2>

        <div class="type-status-form">
          <%= f.label :main_status, value:"Type de profil ?" %>
          <div class="radio-container">
              <p>Visiteur : <%= f.radio_button :main_status, "visitor" %></p>
              <p>Professionnel :  <%= f.radio_button :main_status, "professional" %></p>
              <p>Particulier : <%= f.radio_button :main_status, "particular" %></p>
              <p>Artiste : <%= f.radio_button :main_status, "artist" %></p>
          </div>
        </div>

        <% if @user.avatar %>
        <div class="profile-photo top-right" <% if @user.avatar.exists? %>style="background-image:url(<%= @user.avatar.url %>)" <% end %>></div>
        <% end %>
        <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <div class="half-size-form">
          <div class="pretty-form-group">
            <%= f.text_field :firstname %>
            <%= f.label :firstname %>
          </div>
          <div class="pretty-form-group">
            <%= f.text_field :lastname %>
            <%= f.label :lastname %>
          </div>
        </div>
        <div class="pretty-form-group">
          <%= f.text_field :address %>
          <%= f.label :address %>
        </div>
        <div class="pretty-form-group">
          <%= f.text_field :zipcode, pattern: "^(([0-8][0-9])|(9[0-5]))[0-9]{3}$" %>
          <%= f.label :zipcode %>
        </div>
        <div class="pretty-form-group">
          <%= f.text_field :city %>
          <%= f.label :city %>
        </div>
        <div class="pretty-form-group">
          <%= f.text_field :tel %>
          <%= f.label :tel, pattern: '^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$' %>
        </div>
        <div class="pretty-form-group" data-type="textarea">
          <%= f.text_area :bio, rows:1 %>
          <%= f.label :bio %>
        </div>
        <div class="pretty-form-group">
          <%= f.text_field :website %>
          <%= f.label :website %>
        </div>
        <div class="form-group">
          <%= f.label :avatar, value:"Photo de profil" %>
          <%= f.file_field :avatar, class: "", placeholder: "Avatar" %>
        </div>
        <div id="art_tag_manage">
            <%= f.label :art_tags %>
            <div class="art_tag_form">
                <input type="text" id="add_tag_text" class="form-control">
                <input type="button" id="add_tag_submit" value="add">
            </div>
            <div class="art_tags_container" data-prototype="<div class='art_tag' data-name='__name__'><span class='art_tag_name'>__name__</span><span class='art_tag_delete'><i class='fa fa-trash-o' aria-hidden='true'></i></span></div>">
                <%  @user.art_tags.each do |t| %>
                <div class="art_tag" data-name="<%= t.name %>">
                    <span class="art_tag_name"><%= t.name %></span>
                    <span class="art_tag_delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </span>
                </div>
                <% end %>
            </div>
        </div>
        <%= f.hidden_field :all_tags, id: "tag-field", placeholder: "Vos tags" %>
        <div class="form-action-container">
            <%= f.submit "Enregistrer", class: "btn btn-dark" %>
        </div>
        <% end %>
