<%= form_for @user, :url => {:controller => "profile", :action => "update_profile"}, html: { method: :post, class:"form-type-costum", multipart: true } do |f| %>
  <h2>Galerie photo</h2>
  <% if @user.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h2>
      <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
  </div>
  <% end %>
  <div id="img-form-manage" class="form-for-img" data-id="<%= @user.image_users.length %>">
    <div class="form-group">
      <label for="">Uploader vos images ici :</label>
      <%= f.hidden_field :firstname %>
      <%= file_field_tag "all_images[]", type: :file, multiple: true %>
    </div>
    <div class="img-list">
      <% @user.image_users.each do |img_u| %>
      <div class="img-form" data-id="<%= img_u.id %>">
          <%= f.fields_for :image_users, img_u do |ff| %>
          <%= image_tag img_u.file.url(:thumb) %>
          <div class="action">
            <%= ff.check_box :_destroy -%>
            <%= ff.label :_destroy, class:"label-for-check" %>
          </div>
          <% end %>
      </div>
      <% end %>
    </div>
    <% if @user.image_users.length > 0 %>
    <hr>
    <% end %>
  </div>
  <!-- <div class="form-action-container"> -->
  <%= f.submit "Mettre à jour", class: "btn btn-dark" %>
  <!-- </div> -->
  <% end %>
