  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"form-type-costum" }) do |f| %>
      <h2>Inscription / Connexion</h2>
      <%= devise_error_messages! %>

      <div class="pretty-form-group">
          <%= f.email_field :email, autofocus: true%>
          <%= f.label :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for:
          <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="half-size-form">
        <div class="pretty-form-group">
            <%= f.password_field :password, autocomplete: "off" %>
            <%= f.label :password %>
        </div>

        <div class="pretty-form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <%= f.label :password_confirmation %>
        </div>

        <div class="full-size-form">
          <i class="form-annotation">(leave blank if you don't want to change it)</i>
          <% if @minimum_password_length %>
          <em class="form-annotation"><%= @minimum_password_length %>
              characters minimum</em>
          <% end %>
        </div>

      </div>

      <div class="pretty-form-group">
          <%= f.password_field :current_password, autocomplete: "off" %>
          <%= f.label :current_password %>
          <i class="form-annotation">(we need your current password to confirm your changes)</i>
      </div>
      <div class="form-action-container">
        <%= f.submit "Update", class: "btn btn-dark btn-flex" %>
        <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sur ?" }, method: :delete, class: "btn btn-red btn-flex" %>
      </div>
      <% end %>
