<section id="landing">
  <div class="panel-right">
    <h1>Texposoù?<br>_BORDEAUX</h1>
    <h3>Un artiste chez vous</h3>
    <% if !current_user %>
    <div class="actions-button">
      <%= link_to "Deviens exposant !",  new_user_registration_status_path("professional"), class:"form-action main-button" %>
      <%= link_to "Deviens artiste !",  new_user_registration_status_path("artist"), class:"form-action main-button" %>
    </div>
    <% end %>
  </div>
  <div class="form">

  </div>
</section>

<% if @places %>
<section id="lastExhib">
  <div class="wrapper">
    <div class='row'>
      <div class="list-exhibition col-md-7" >
        <h2>Les derniers<br> lieux</h2>
        <ul>
          <% r = 0 %>
          <% @places.each do |p| %>
            <li class="update-bg <% if r == 0 %>active<% end %>"data-url="<% if p.image_places.first %><%= p.image_places.first.file.url %><% end %>"><span><%= p.name %></span></li>
            <% r+=1 %>
          <% end %>
        </ul>
      </div>
      <%= link_to(@places.first) do %><div class="photo-pres clr-after col-md-5" id="photo-updated" style="background-image:url(<% if @places.first.image_places.first %><%= @places.first.image_places.first.file.url %><% end %>);"></div><% end %>
    </div>
    <div class="clr">
      <%= link_to "Tous les lieux", places_path, class:"list_link" %>
    </div>
  </div>
</section>
<% end %>


<% if @exhibition %>
<section id="lastPlace">
  <div class="wrapper">
    <h2>exposition<br>à venir</h2>
  </div>
  <div class="banner" <% if @exhibition.place.image_places.first %>style="background-image:url(<%= @exhibition.place.image_places.first.file.url %>)"<% end %> >
    <%= link_to @exhibition do %>
    <div class="content">
      <h3 class="title"><%= @exhibition.name %></h3>
      <p><%= @exhibition.description %></p>
    </div>
    <% end %>
  </div>
  <div class="wrapper">
    <%= link_to "Toutes les expositions", exhibitions_path, class:"list_link" %>
  </div>
</section>
<% end %>



<% if @artist %>
<section id="lastArtist" class="wrapper">
  <h2>À la<br>découverte<br>d'un artiste</h2>
  <div class="row">
    <div class="left-panel col-md-7">
      <%= link_to show_by_id_path(@artist.id) do %><p class="title"><span> <%= @artist.firstname %>  <%= @artist.lastname %></span></p><% end %>
      <p class="art_tags_list"><% @artist.art_tags.each do |at| %>
        <%= at.name -%><% if at != @artist.art_tags.last %> - <% end %>
      <% end %></p>
      <p class="description">
        <% if @artist.bio.empty? %>
        Cet artiste n'a pas encore de bio
        <% else %>
        <%= @artist.bio %>
        <% end %>
      </p>
    </div>
    <%= link_to show_by_id_path(@artist.id) do %>
    <div class="right-panel col-md-5" style="background-image:url(<%= @artist.avatar.url %>)"></div>
    <% end %>
    <div class="clr">
      <%= link_to "Tous les artistes", index_profile_status_path("artist"), class:"list_link" %>
    </div>
  </div>
</section>
<% end %>
