<div id="show">
    <div class="container">
        <div id="tabs-profile" class="row">
            <ul class="tabs-menu col-sm-4">
                <li>
                    <a href="#tabs-1">Profil</a>
                </li>
                <li>
                    <a href="#tabs-2">Login et mot de passe</a>
                </li>
                <% if current_user.has_status?("artist") %>
                <li>
                    <a href="#tabs-3">Galerie photo</a>
                </li>
                <% end %>
                <% if current_user.has_status?("professional") || current_user.has_status?("particular") %>
                <li>
                    <a href="#tabs-4">Mes lieux</a>
                </li>
                <% end %>
                <li>
                    <a href="#tabs-5">Mes événements</a>
                </li>
                <li>
                    <a href="#tabs-6">Mes visites</a>
                </li>
            </ul>
            <div class="col-sm-8">
                <div id="tabs-1" class="tab-profile">
                    <div class="half">
                        <%= form_for @user, :url => {:controller => "profile", :action => "update_profile"}, html: { method: :post, class:"form-type-costum form-type-costum-no-padding well-users" } do |f| %>
                        <h2>Editer mon profil</h2>
                        <% if @user.avatar %>
                        <div class="profile-photo top-right" <% if @user.avatar.exists? %>style="background-image:url(<%= @user.avatar.url %>)" <% end %>></div>
                        <% end %>
                        <% if @user.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h2>
                            <ul>
                                <% @user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>
                        <%= f.text_field :firstname, class: "form-control", placeholder: "Prénom" %>
                        <%= f.text_field :lastname, class: "form-control", placeholder: "Nom" %>
                        <%= f.text_field :address, class: "form-control", placeholder: "Adresse" %>
                        <%= f.text_field :zipcode, class: "form-control", placeholder: "Code postal", pattern: "^(([0-8][0-9])|(9[0-5]))[0-9]{3}$" %>
                        <%= f.text_field :city, class: "form-control", placeholder: "Ville" %>
                        <%= f.text_field :tel, class: "form-control", placeholder: "Téléphone", pattern: '^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$' %>
                        <%= f.text_field :website, class: "form-control", placeholder: "Site internet" %>
                        <%= f.text_area :bio, class: "form-control", placeholder: "Qui êtes vous ?" %>
                        <div class="form-group">
                          <%= f.label :avatar, value:"Photo de profil" %>
                          <%= f.file_field :avatar, class: "", placeholder: "Avatar" %>
                        </div>
                        <div id="art_tag_manage">
                            <h3>Tags</h3>
                            <div class="art_tag_form">
                                <input type="text" id="add_tag_text" class="form-control">
                                <input type="button" id="add_tag_submit" value="add">
                            </div>
                            <div class="art_tags_container" data-prototype="<div class='art_tag' data-name='__name__'><span class='art_tag_name'>__name__</span><span class='art_tag_delete'><i class='fa fa-trash-o' aria-hidden='true'></i></span></div>">
                                <%  @user.art_tags.each do |t| %>
                                <div class="art_tag" data-name="<%= t.name %>">
                                    <span class="art_tag_name"><%= t.name %></span>
                                    <span class="art_tag_delete">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <% end %>
                            </div>
                        </div>
                        <%= f.hidden_field :all_tags, id: "tag-field", placeholder: "Vos tags" %>
                        <div class="form-action-container">
                            <%= f.submit "Valider", class: "form-action main-action" %>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div id="tabs-2" class="tab-profile">
                  <div class="half">
                    <h2>Inscription / Connexion</h2>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"form-type-costum form-type-costum-no-padding well-users" }) do |f| %>
                        <%= devise_error_messages! %>
                        <div class="form-group">
                            <%= f.label :email %>
                            <%= f.email_field :email, autofocus: true, class:"form-control" %>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for:
                            <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="form-group">
                            <%= f.label :password %>
                            <i>(leave blank if you don't want to change it)</i>
                            <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
                            <% if @minimum_password_length %>
                            <em class="form-annotation"><%= @minimum_password_length %>
                                characters minimum</em>
                            <% end %>
                        </div>

                        <div class="form-group">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :current_password %>
                            <i>(we need your current password to confirm your changes)</i>
                            <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
                        </div>

                        <div class="form-action-container">
                            <%= f.submit "Update", class: "form-action main-action" %>
                        </div>
                        <% end %>
                  </div>
                </div>
                <% if current_user.has_status?("artist") %>
                <div id="tabs-3" class="tab-profile">
                  <div class="half">
                    <%= form_for @user, :url => {:controller => "profile", :action => "update_profile"}, html: { method: :post, class:"form-type-costum form-type-costum-no-padding well-users" } do |f| %>
                    <h2>Galerie photo</h2>

                    <div id="img-form-manage" class="img-container" data-id="<%= @user.image_users.length %>">
                      <div class="img-list">
                        <% @user.image_users.each do |img_u| %>
                        <div class="img-form" data-id="<%= img_u.id %>">
                            <%= f.fields_for :image_users, img_u do |ff| %>
                            <%= image_tag img_u.file.url(:thumb) %>
                            <div class="action">
                              <%= ff.check_box :_destroy -%>
                              <%= ff.label :_destroy, class:"label-for-check" %>
                            </div>
                            <% end %>
                        </div>
                        <% end %>
                      </div>
                      <% if @user.image_users.length > 0 %>
                      <hr>
                      <% end %>

                      <div class="img-forms" data-prototype="<div class='add-img-form'>
                        <input name='user[image_users_attributes][__id__][file]' id='user_image_users_attributes___id___file' type='file'>
                        <label class='label-file' for='user_image_users_attributes___id___file'>File</label>
                        <input placeholder='Description image' name='user[image_users_attributes][__id__][alt]' id='user_image_users_attributes___id___alt' type='text'>
                        <label class='delete' for='user_image_users_attributes___id___file'>File</label>
                        </div>">
                        <div class="add-img-form" >
                          <% img_u = ImageUser.new %>
                          <%= f.fields_for :image_users, img_u do |ff| %>
                            <%= ff.file_field :file -%>
                            <%= ff.label :file, class:"label-file" %>
                            <%= ff.text_field :alt, placeholder: "Description de l'image" %>
                            <label class="delete"></label>
                          <% end %>
                        </div>
                      </div>
                      <input type="button" id="add-img-button" value="Ajouter une image" class="form-action main-action">
                    </div>
                    <div class="form-action-container">
                        <%= f.submit "Update", class: "form-action main-action" %>
                    </div>
                    <% end %>
                  </div>
                </div>
                <% end %>
                <% if current_user.has_status?("professional") || current_user.has_status?("particular") %>
                <div id="tabs-4" class="tab-profile">
                  <h2>Mes lieux</h2>
                  <div class="items-list">
                    <% current_user.places.each do |p| %>
                    <div class="item">
                        <p class="title"><%= p.name %></p>
                        <% if p.description %>
                        <p class="content"><%= p.description %></p>
                        <% end %>
                        <p class="address"><%= p.address %> <%= p.zipcode %> <%= p.city %></p>
                        <p class="exhibition"><%= p.exhibitions.length %> évenements organisé</p>
                        <%= link_to "VOIR PLUS", place_path(p), class:"form-action main-action" %>
                    </div>
                    <% end %>
                  </div>
                  <div class="form-action-container">
                      <%= link_to "Ajouter un lieu", new_place_path, class: "form-action main-action" %>
                  </div>

                </div>
                 <% end %>
                <div id="tabs-5" class="tab-profile">
                  <% if current_user && current_user.main_status == "artist" %>
                  <h2>Les évenements où je participe</h2>
                  <div class="pad-medium">
                    <div class="items-list">
                      <% if @participations %>
                      <% @participations.each do |p| %>
                      <div class="item">
                          <p class="title"><%= p.exhibition.name %></p>
                          <% if p.exhibition.description %>
                            <p class="content"><%= p.exhibition.description %></p>
                          <% end %>
                          <%= link_to "VOIR PLUS", p.exhibition, class:"form-action main-action" %>
                      </div>
                      <% end %>
                      <% end %>
                    </div>
                    <%= link_to "Trouver des lieux ou exposer", exhibitions_path,  class: "form-action main-action" %>
                    <div class="clr pad-bottom-medium"></div>
                  </div>
                  <% end %>
                  <h2>Les évenements que j'organise</h2>
                  <div class="pad-medium">
                    <div class="items-list">
                      <% if @exhibitions %>
                      <% @exhibitions.each do |e| %>
                      <div class="item">
                          <p class="title"><%= e.name %></p>
                          <% if e.description %>
                          <p class="content"><%= e.description %></p>
                          <% end %>
                          <p><%= e.participations.length %> artiste(s) participe(nt)</p>
                          <%= link_to "VOIR PLUS", e, class:"form-action main-action" %>
                      </div>
                      <% end %>
                      <% end %>
                    </div>
                    <% if @user.places.length > 0 %>
                      <%= link_to "Créer un évenement", add_exhibition_path(@user.places.first),  class: "form-action main-action" %>
                    <% else %>
                      <p>Vous devez créer un lieu avant de créer un évenement</p>
                      <%= link_to "Créer un lieu", new_place_path, class: "form-action main-action" %>
                    <% end %>
                  </div>
                </div>
                <div id="tabs-6" class="tab-profile">
                  <h2>Mes visites</h2>
                </div>
            </div>
        </div>
    </div>
</div>
