<div id="show">
    <div class="container">
        <%= link_to "Voir en tant que visiteur", show_by_id_path(current_user), class:"btn-action-dark visit-profil" %>
        <div id="tabs-profile" class="row">
            <ul class="tabs-menu col-sm-4">
                <li>
                    <a href="#tabs-1">Profil</a>
                </li>
                <li>
                    <a href="#tabs-2">Login et mot de passe</a>
                </li>
                <% if current_user.has_status?("artist") %>
                <li>
                    <a href="#tabs-3">Galerie photo</a>
                </li>
                <% end %>
                <% if current_user.has_status?("professional") || current_user.has_status?("particular") %>
                <li>
                    <a href="#tabs-4">Mes lieux</a>
                </li>
                <% end %>
                <% if current_user.has_status?("professional") || current_user.has_status?("particular") || current_user.has_status?("artist") %>
                <li>
                    <a href="#tabs-5">Mes événements</a>
                </li>
                <% end %>
                <li>
                    <a href="#tabs-6">Mes visites</a>
                </li>
            </ul>
            <div class="col-sm-8">
              <div id="tabs-1" class="tab-profile">
                <%= render "profile/partial/profile-edit" %>
              </div>
              <div id="tabs-2" class="tab-profile">
                <%= render "profile/partial/profile-registration" %>
              </div>
              <% if current_user.has_status?("artist") %>
              <div id="tabs-3" class="tab-profile">
                <%= render "profile/partial/profile-galerie" %>
              </div>
              <% end %>
              <% if current_user.has_status?("professional") || current_user.has_status?("particular") %>
              <div id="tabs-4" class="tab-profile">
                <%= render "profile/partial/profile-place" %>
              </div>
               <% end %>
               <% if current_user.has_status?("professional") || current_user.has_status?("particular") || current_user.has_status?("artist") %>
              <div id="tabs-5" class="tab-profile exhibitions">
                <%= render "profile/partial/profile-exhibition" %>
              </div>
              <% end %>
              <div id="tabs-6" class="tab-profile">
                <%= render "profile/partial/profile-visits" %>
              </div>
            </div>
        </div>
    </div>
</div>
