<div class="container-fluid profile-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <div class="well">
        <div class="row">
          <div class="col-md-3">
            <div class="pic">
              <% if @user.avatar.exists? %>
                <div class="img" <% if @user.avatar.exists? %>style="background-image:url(<%= @user.avatar.url %>)" <% end %>></div>
              <% else %>
                <div class="img" style="background-image:url(https://placehold.it/400x400)"></div>
              <% end %>
            </div>
          </div>
          <div class="col-md-9">
            <div class="name">
              <h2><b><%= @user.firstname %></b> <%= @user.lastname  %></h2>
              <% if current_user == @user %>
                <%= link_to "Modifier", show_profile_path, class: "btn" %>
              <% end %>
            </div>

            <h3>
            <% if @user.main_status == "visitor" %>
              Visiteur
            <% elsif @user.main_status == "artist" %>
              Artiste
            <% elsif @user.main_status == "professional" || "particular" %>
              Exposant
            <% end %>
            <% @user.art_tags.each do |u| %>
              <%= u.name %>
              <% unless (u == @user.art_tags.last) %>&<% end %>
            <% end %>
            </h3>
            <p><%= @user.bio %></p>
            <div class="contact">
              <a href="mailto:<%= @user.email %>" class="btn">Contacter</a>
              <a href="<%= @user.website %>" class="website" target="_blank"><%= @user.website %></a>
            </div>

            <% if @user.main_status == "artist" %>
              <%= render "profile/partial/artist" %>
            <% elsif (@user.main_status == "professional" || @user.main_status == "particular") %>
              <%= render "profile/partial/exhibitor" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
