<div class="container full-screen">
  <div class="row row-users">
    <div class="col-sm-8 col-sm-offset-2">
      <%= form_for(place, html: { class:"form-type-costum well-users", multipart: true }) do |f| %>
        <% if @formTitle %>
        <h1><%= @formTitle %></h1>
        <% end %>
        <% if place.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>
            <ul>
              <% place.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-frame">
            <%= f.hidden_field :user_id %>

            <div class="pretty-form-group">
              <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
              <%= f.label :name %>
            </div>

            <div class="pretty-form-group" data-type="textarea">
              <%= f.text_area :description, rows:1 %>
              <%= f.label :description %>
            </div>

            <div class="pretty-form-group">
              <%= f.text_field :address %>
              <%= f.label :address %>
            </div>

            <div class="pretty-form-group">
              <%= f.number_field :zipcode %>
              <%= f.label :zipcode %>
            </div>

            <div class="pretty-form-group">
              <%= f.text_field :city %>
              <%= f.label :city %>
            </div>
            <!-- <div class="pretty-form-group">
              <%= f.label :area_max, 'Aire maximale' %>
              <%= f.text_field :area_max, class: "form-control", placeholder: "Aire maximale", autocomplete: "off" %>
            </div> -->
            <div class="form-group">
              <%= f.label :image_places %>
              <%= file_field_tag "all_images[]", type: :file, multiple: true %>
            </div>
            <div id="img-form-manage" class="form-for-img" data-id="<%= @place.image_places.length %>">
              <div class="img-list">
                <% @place.image_places.each do |img_u| %>
                <div class="img-form" data-id="<%= img_u.id %>">
                    <%= f.fields_for :image_places, img_u do |ff| %>
                    <%= image_tag img_u.file.url(:thumb) %>
                    <div class="action">
                      <%= ff.check_box :_destroy -%>
                      <%= ff.label :_destroy, class:"label-for-check" %>
                    </div>
                    <% end %>
                </div>
                <% end %>
              </div>
            </div>


          </div>
          <div class="form-action-container">
            <%= link_to "Retour", :back, class:"btn btn-light" %>
            <%= f.submit "Valider", class: "btn btn-dark" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
<!-- <div class="img-forms" data-prototype="<div class='add-img-form'>
  <input name='user[image_places_attributes][__id__][file]' id='user_image_places_attributes___id___file' type='file'>
  <label class='label-file' for='user_image_places_attributes___id___file'>File</label>
  <input placeholder='Description image' name='user[image_places_attributes][__id__][alt]' id='user_image_places_attributes___id___alt' type='text'>
  <label class='delete' for='user_image_places_attributes___id___file'>File</label>
  </div>">
  <div class="add-img-form" >
    <#% #img_u = ImagePlace.new %>
    <#%= #f.fields_for :image_places, img_u do |ff| %>
      <#%= #ff.file_field :file -%>
      <#%= #ff.label :file, class:"label-file" %>
      <#%= #ff.text_field :alt, placeholder: "Description de l'image" %>
      <label class="delete"></label>
    <#% end %>
  </div>
</div>
<input type="button" id="add-img-button" value="Ajouter une image" class="form-action main-action"> -->
