<p id="notice"><%= notice %></p>

<section id="places-header">
  <div class="row">
    <div class="col-md-6" id="places-main-img"></div>
    <div class="col-md-6" id="title-container">
      <h1>Nos <br>Lieux</h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Où ?">
          <input type="text" class="form-control" placeholder="Quand ?">
          <input type="text" class="form-control" placeholder="Quoi ?">
          <button type="submit">Rechercher</button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <section id="places-body">
        <% @places.each do |place| %>
          <%= link_to(place) do %>
          <article>
            <%= debut place.image_places.first %>
            <!-- <img src="https://placehold.it/350x250" alt=""> -->
            <div class="content"></div>
          </article>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>
</div>

<br>

<div class="container" id="add-place">
  <%= link_to 'New Place', new_place_path %>
</div>

<!--
<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>Area max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.description %></td>
        <td><%= place.address %></td>
        <td><%= place.zipcode %></td>
        <td><%= place.city %></td>
        <td><%= place.area_max %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
