<section class="page-header-banner place-banner">
  <div class="title-container">
    <h1>Nos <br>Lieux</h1>
  </div>
</section>

<div class="container grid-parent place-body">
  <div class="row">
    <div class="col-md-3">
      <div class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Où ?">
          <button type="submit">Rechercher</button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <section class="grid-body">
        <% @places.each do |place| %>
        <% if place.image_places.first %>
          <%= link_to(place) do %>
          <article class="grid-item">
            <%= image_tag place.image_places.first.file.url %>
            <div class="content">
              <p class="title"><%= place.name %></p>
              <p class="mention"><%= place.exhibitions.length %> expositions organisés</p>
            </div>
          </article>
          <% end %>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>
  <% if user_signed_in? && current_user.has_status?("exposant") %>
  <%= link_to 'New Place', new_place_path, class: "grid-add" %>
  <% end %>
</div>
