<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @place.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Area max:</strong>
  <%= @place.address %>
</p>


<h2>Liste des exhibitions</h2>
  <% @place.exhibitions.each do |exhibition| %>
  <li><%= exhibition.name %></li>
  <% end %>
</ul>


<%= link_to 'Add exhibition', add_exhibition_path(@place) %> |
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
