<p id="notice"><%= notice %></p>

<div id="places-show">
  <section>
    <div class="row">
      <div class="col-md-6 panel-left">

        <p class="name"><span>La Galerie</span></p>
        <div class="infos-place">
          <p>Nom du galeriste : <span><%= @place.name %></span></p>
          <p>Organisateur : <%= @place.user %></p>
          <p>Surface : <%= @place.area_max %> m2</p>
          <p><%= @place.address %> <%= @place.zipcode %> <%= @place.city %></p>
        </div>
        <p class="name"><span>Expos organisés</span></p>
        <div class="infos-place">
          <% @place.exhibitions.each do |exhibition| %>
          <p><%= link_to exhibition.name, exhibition %></p>
          <% end %>
        </div>
        <p class="name"><span>Photos</span></p>
        <% if @place.image_places.first %>
        <%= image_tag @place.image_places.first.file.url %>
        <% end %>
      </div>

      <div class="col-md-6 panel-right">
        <p id="about-place">À propos de ce lieu</p>
        <p><%= @place.description %></p>
      </div>
    </div>
  </section>
</div>

  <div class="btn-action">
    <% if current_user && @place.user.id == current_user.id %>
    <%= link_to 'Add exhibition', add_exhibition_path(@place), class:"form-action" %>
    <%= link_to 'Edit', edit_place_path(@place), class:"form-action" %>
    <%= link_to 'Back', places_path, class:"form-action" %>
    <% end %>
  </div>
