<!DOCTYPE html>
<html>
  <head>
    <title>Texposou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header"> <!-- logo-brand -->
            <%= link_to image_tag("Logotype.png"), root_path, id: "logo-brand", class:"navbar-brand", alt:'logo-texposou' %>
          </div>
          <% if user_signed_in? %>
          <p class="navbar-left navbar-text bvn-msg"> Bienvenue <%= link_to current_user.email, edit_user_registration_path %> !</p>
          <% end %>

          <div id="navbar-btns"> <!-- boutons -->
            <p class="navbar-right navbar-text btn-header"> <!-- sign_up -->
              <span><%= link_to "s'inscrire", new_user_registration_path %></span>
            </p>
            <% if user_signed_in? %>
            <p class="navbar-right navbar-text btn-header"><%= link_to "se déconnecter", destroy_user_session_path, method: :delete, confirm: 'Are you sure ?' %></p> <!-- disconnect -->
            <% else %>
            <p class="navbar-right navbar-text btn-header"><%= link_to "se connecter", new_user_session_path %></p> <!-- sign_in -->
            <% end %>
            <p class="navbar-right navbar-text btn-header"><%= link_to "a propos", root_path %></p> <!-- about -->

          </div>

        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
