<!DOCTYPE html>
<html>
  <head>
    <title>Texposou</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <%= link_to image_tag("logo.png"), root_path, id: "logo-brand", class:"navbar-brand", alt:'logo-texposou' %>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="menu-burger">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse main-nav navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav" id="btns-container">
              <% if user_signed_in? %>
              <li class="btn-header">
                <p class="navbar-right"><span><%= link_to "Mon profil", show_profile_path(current_user) %></span></p>
              </li>
              <% end %>
              <li class="btn-header">
                <p class="navbar-right"><%= link_to "Trouver un artiste", index_profile_status_path("artist") %></p>
              </li>

              <li class="btn-header">
                <p class="navbar-right"><%= link_to "Trouver un lieu", exhibitions_path %></p>
              </li>

              <li class="btn-header">
                <p class="navbar-right"><%= link_to "A propos", root_path %></p>
              </li>

              <li class="btn-header">
                <% if user_signed_in? %>
                  <p class="navbar-right"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, confirm: 'Are you sure ?' %></p>
                <% else %>
                  <p class="navbar-right"><%= link_to "Se connecter", new_user_session_path %></p>
                <% end %>
              </li>

              <% unless user_signed_in? %>
                <li class="btn-header">
                  <p class="navbar-right">
                  <span><%= link_to "S'inscrire", new_user_registration_path %></span>
                  </p>
                </li>
              <% end %>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <p id="notice"><%= notice %></p>

    <%= yield %>

<% if (controller.controller_name == 'registrations' && controller.action_name == 'edit') || (controller.controller_name == 'registrations' && controller.action_name == 'new') || (controller.controller_name == 'sessions' && controller.action_name == 'new') %>

  <footer>
    <div class="container-fluid" id="footer-1">
      <div class="row">
        <div class="col-sm-5" id="title">
          <h3> TEXPOSOÙ? </h3>
          <p> Inscrivez vous à la Newsletter </p>
        </div>
        <div class="col-sm-3" id="blank">
          <p></p>
        </div>
        <div class="col-sm-4" id="links">
          <p> A propos </p>
          <p> Contact </p>
          <p> Mentions légales </p>
        </div>
      </div>
    </div>
  </footer>

<% else %>

    <footer>
      <div class="container-fluid" id="footer-2">
        <div class="row">
            <div class="col-md-5 footer-content" id="news-container">
              <h3> TEXPOSOÙ? </h3>
              <p> Inscrivez-vous à la newsletter </p>
              <form action="//herokuapp.us13.list-manage.com/subscribe/post?u=f0c1d1cc8fc0a9e63e0f00a2c&amp;id=3dad9f23cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate navbar-form" target="_blank" novalidate>
                <div class="form-group">
                  <input type="email" name="EMAIL" class="form-control" placeholder="Votre email...">
                </div>
                <button type="submit" class="btn btn-default">S'INSCRIRE</button>
              </form>
            </div>
            <div class="col-md-2 footer-content" id="about-container">
              <a href="/"><h4> TEXPOSOÙ? </h4></a>
              <ul>
                <a href="#" target="_blank"><li>A propos</li></a>
                <a href="#" target="_blank"><li>Règles</li></a>
                <a href="#" target="_blank"><li>Aide</li></a>
              </ul>
            </div>
            <div class="col-md-2 footer-content" id="infos-container">
              <h4> Informations </h4>
              <ul>
                <a href="mailto:texposou@gmail.com"><li>Contact</li></a>
                <a href="#" target="_blank"><li>Conditions générales</li></a>
                <a href="#" target="_blank"><li>Mentions légales</li></a>
                <a href="#" target="_blank"><li>Plan du site</li></a>
              </ul>
            </div>
            <div class="col-md-3 footer-content" id="links-container">
              <a href="https://www.facebook.com/texposou" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
              <a href="https://www.instagram.com/texposou/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
              <a href="https://twitter.com/texposou" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="https://plus.google.com/u/0/117601800868554882796" target="_blank"><i class="fa fa-google-plus-square fa-lg"></i></a>
              <a href="https://fr.pinterest.com/texposou/" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a>
            </div>
        </div>
        <div class="row" id='copyright'>
          <p> Copyright © 2017 </p>
        </div>
      </div>
    </footer>
    <% end %>
  </body>
</html>
