<!DOCTYPE html>
<html>
  <head>
    <title>Texposou</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <%= link_to image_tag("logo.png"), root_path, id: "logo-brand", class:"navbar-brand", alt:'logo-texposou' %>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="menu-burger">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse main-nav navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if user_signed_in? %>
            <p class="navbar-left bvn-msg"> <%= t "hello" %> <%= link_to(show_profile_path) do %><%= current_user.firstname %> <%= current_user.lastname %><% end %> !</p>
            <% end %>

            <ul class="nav navbar-nav" id="btns-container">

              <li class="btn-header">
                <p class="navbar-right"><%= link_to "a propos", root_path %></p>
              </li>

              <li class="btn-header">
                <% if user_signed_in? %>
                <p class="navbar-right"><%= link_to "se déconnecter", destroy_user_session_path, method: :delete, confirm: 'Are you sure ?' %></p>
                <% else %>
                <p class="navbar-right"><%= link_to "se connecter", new_user_session_path %></p>
                <% end %>
              </li>

              <% unless user_signed_in? %>
                <li class="btn-header">
                  <p class="navbar-right">
                  <span><%= link_to "s'inscrire", new_user_registration_path %></span>
                  </p>
                </li>
              <% end %>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <%= yield %>
<% if current_page?(controller: "registrations",action: "edit") || current_page?(controller: "registrations", action: "new") %>
  <footer>
    <div class="container-fluid" id="footer-1">
      <div class="row">
        <div class="col-sm-5" id="title">
          <h3> TEXPOSOÙ? </h3>
          <p> Inscrivez vous à la Newsletter </p>
        </div>
        <div class="col-sm-3" id="blank">
          <p></p>
        </div>
        <div class="col-sm-4" id="links">
          <p> A propos </p>
          <p> Contact </p>
          <p> Mentions légales </p>
        </div>
      </div>
    </div>
  </footer>

  <% else %>

    <footer>
      <div class="container-fluid" id="footer-2">
        <div class="row">
            <div class="col-md-5 footer-content" id="news-container">
              <h3> TEXPOSOÙ? </h3>
              <p> Inscrivez-vous à la newsletter </p>
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Votre email...">
                </div>
                <button type="submit" class="btn btn-default">S'INSCRIRE</button>
              </form>

            </div>
            <div class="col-md-2 footer-content" id="about-container">
              <h4> TEXPOSOÙ? </h4>
              <ul>
                <li>A propos</li>
                <li>Règles</li>
                <li>Aide</li>
              </ul>
            </div>
            <div class="col-md-2 footer-content" id="infos-container">
              <h4> Informations </h4>
              <ul>
                <li>Contact</li>
                <li>Conditions générales</li>
                <li>Mentions légales</li>
                <li>Plan du site</li>
              </ul>
            </div>
            <div class="col-md-3 footer-content" id="links-container">
              <i class="fa fa-facebook fa-lg"></i>
              <i class="fa fa-instagram fa-lg"></i>
              <i class="fa fa-behance fa-lg"></i>
              <i class="fa fa-twitter fa-lg"></i>
              <i class="fa fa-google-plus-square fa-lg"></i>
              <i class="fa fa-pinterest fa-lg"></i>
            </div>
        </div>
        <div class="row" id='copyright'>
          <p> Copyright © 2017 </p>
        </div>
      </div>
    </footer>
    <% end %>
  </body>
</html>
